In [3]:
import wrds
db = wrds.Connection()

WRDS recommends setting up a .pgpass file.
Created .pgpass file successfully.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done

In [4]:
lib = db.list_libraries()
lib

['aha_sample',
 'ahasamp',
 'audit',
 'audit_acct_os',
 'audit_common',
 'audit_corp_legal',
 'audit_europe',
 'auditsmp',
 'auditsmp_all',
 'bank',
 'bank_all',
 'block',
 'block_all',
 'boardex_trial',
 'boardsmp',
 'bvd',
 'bvd_amadeus_trial',
 'bvd_bvdbankf_trial',
 'bvd_orbis_large',
 'bvd_orbis_medium',
 'bvd_orbis_small',
 'bvd_orbis_trial',
 'bvdsamp',
 'calcbench_trial',
 'calcbnch',
 'cboe',
 'cboe_all',
 'cboe_sample',
 'cboesamp',
 'ciq',
 'ciq_common',
 'ciq_pplintel',
 'ciq_ratings',
 'ciqsamp',
 'ciqsamp_capstrct',
 'ciqsamp_common',
 'ciqsamp_keydev',
 'ciqsamp_pplintel',
 'ciqsamp_ratings',
 'ciqsamp_transactions',
 'ciqsamp_transcripts',
 'cisdmsmp',
 'columnar',
 'comp',
 'comp_bank',
 'comp_bank_daily',
 'comp_execucomp',
 'comp_global',
 'comp_global_daily',
 'comp_na_annual_all',
 'comp_na_daily_all',
 'comp_na_monthly_all',
 'comp_ratings',
 'comp_segments_hist',
 'comp_segments_hist_daily',
 'compa',
 'compb',
 'compg',
 'compm',
 'compsamp',
 'compsamp_all',
 'compsamp_snapshot',
 'compseg',
 'comscore',
 'comscore_2018',
 'comscore_2019',
 'comscore_2020',
 'comscore_common',
 'contrib',
 'contrib_as_filed_financials',
 'contrib_ceo_turnover',
 'contrib_char_returns',
 'contrib_general',
 'contrib_global_factor',
 'contrib_intangible_value',
 'contrib_kpss',
 'contrib_liva',
 'crsp',
 'crsp_a_ccm',
 'crsp_a_indexes',
 'crsp_a_stock',
 'crsp_q_indexes',
 'crsp_q_indexhist',
 'crsp_q_mutualfunds',
 'crspq',
 'crspsamp',
 'crspsamp_all',
 'crspsamp_mf',
 'csmar',
 'csmar_financial',
 'csmar_funds',
 'csmar_trade',
 'csmsamp_all',
 'dealscan',
 'djones',
 'djones_all',
 'dmef',
 'dmef_all',
 'doe',
 'doe_all',
 'etfg',
 'etfg_analytics',
 'etfg_constituents',
 'etfg_fund_flow',
 'etfg_industry',
 'etfg_samp',
 'etfgsamp',
 'eurekahedge_sample',
 'eursamp',
 'eventus',
 'evts_all',
 'execcomp',
 'factsamp_all',
 'factsamp_revere',
 'ff',
 'ff_all',
 'fisdsamp',
 'fisdsamp_all',
 'fjc',
 'fjc_linking',
 'fjc_litigation',
 'frb',
 'frb_all',
 'fssamp',
 'ftse',
 'ftse_russell_us',
 'ftsesamp',
 'ftsesamp_russell_us',
 'gmi',
 'gmi_all',
 'gutenberg',
 'hfrsamp',
 'hfrsamp_hfrdb',
 'ibes',
 'ibessamp_kpi',
 'ifgrsamp',
 'ims_obp_trial',
 'imssamp',
 'infogroupsamp_business',
 'infogroupsamp_residential',
 'insdsamp',
 'iri',
 'iri_all',
 'iss_va_shareholder',
 'issm',
 'issm_nasd1987',
 'issm_nasd1988',
 'issm_nasd1989',
 'issm_nasd1990',
 'issm_nasd1991',
 'issm_nasd1992',
 'issm_nyam1983',
 'issm_nyam1984',
 'issm_nyam1985',
 'issm_nyam1986',
 'issm_nyam1987',
 'issm_nyam1988',
 'issm_nyam1989',
 'issm_nyam1990',
 'issm_nyam1991',
 'issm_nyam1992',
 'kpisamp',
 'ktmine_patents_samp',
 'ktsamp',
 'lvnsamp',
 'lvnsamp_all',
 'macrofin',
 'macrofin_comm_trade',
 'mfl',
 'mflinks_all',
 'midas',
 'morningstarsamp_cisdm',
 'mrktsamp',
 'mrktsamp_cds',
 'mrktsamp_cdx',
 'mrktsamp_msf',
 'msrb',
 'msrb_all',
 'msrbsamp',
 'msrbsamp_all',
 'omtrial',
 'optionm',
 'optionm_all',
 'optionmsamp_europe',
 'optionmsamp_us',
 'otc',
 'otc_endofday',
 'permstub_all',
 'phlx',
 'phlx_all',
 'pitchsmp',
 'ppubsamp',
 'ppubsamp_d4d',
 'ppubsamp_rx_checkup',
 'preqin',
 'preqin_gp',
 'preqin_lp',
 'preqin_pe',
 'preqin_vc',
 'preqsamp',
 'preqsamp_all',
 'public',
 'public_all',
 'pwt',
 'pwt_all',
 'ravenpack_common',
 'ravenpack_dj',
 'ravenpack_trial',
 'reprisk_sample',
 'repsamp',
 'revelio_samp',
 'revsamp',
 'risk',
 'risk_directors',
 'risk_governance',
 'risk_proposals',
 'risk_votes',
 'risksamp',
 'risksamp_all',
 'rpna',
 'rpnasamp',
 'rq_all',
 'rstat_samp',
 'rstatsmp',
 'sdc',
 'sdcsamp',
 'secsamp',
 'secsamp_all',
 'snapsamp',
 'snlsamp',
 'snlsamp_fig',
 'sprat',
 'sustain',
 'sustainalytics_all',
 'sustainalyticssamp_all',
 'sustsamp',
 'taqm_2003',
 'taqm_2004',
 'taqm_2005',
 'taqm_2006',
 'taqm_2007',
 'taqm_2008',
 'taqm_2009',
 'taqm_2010',
 'taqm_2011',
 'taqm_2012',
 'taqm_2013',
 'taqm_2014',
 'taqm_2015',
 'taqm_2016',
 'taqm_2017',
 'taqm_2018',
 'taqm_2019',
 'taqm_2020',
 'taqm_2021',
 'taqm_2023',
 'taqmsamp',
 'taqmsamp_all',
 'taqmsec',
 'taqsamp',
 'taqsamp_all',
 'tfn',
 'totalq',
 'totalq_all',
 'tr_13f',
 'tr_common',
 'tr_dealscan',
 'tr_ds_comds',
 'tr_ds_econ',
 'tr_ds_equities',
 'tr_ds_fut',
 'tr_ibes',
 'tr_ibes_guidance',
 'tr_ibes_iga',
 'tr_insiders',
 'tr_mutualfunds',
 'tr_ownership',
 'tr_sdc_joint_ventures',
 'tr_sdc_ma',
 'tr_sdc_ni',
 'tr_sdc_samples',
 'tr_worldscope',
 'trace',
 'trace_enhanced',
 'trace_standard',
 'trcommon',
 'trcstsmp',
 'trdssamp',
 'trdstrm',
 'tresgsmp',
 'trown',
 'trsamp',
 'trsamp_all',
 'trsamp_ds_eq',
 'trsamp_dscom',
 'trsamp_dsecon',
 'trsamp_dsfut',
 'trsamp_esg',
 'trsamp_sdc_ma',
 'trsamp_sdc_ni',
 'trsamp_worldscope',
 'trucost_samp',
 'trws',
 'twoiq_samp',
 'twoiqsmp',
 'wappsamp',
 'wrds_insiders_samp',
 'wrds_lib_internal',
 'wrds_sec_search',
 'wrdsapps',
 'wrdsapps_backtest_basic',
 'wrdsapps_backtest_plus',
 'wrdsapps_eushort',
 'wrdsapps_evtstudy_int_ginsight',
 'wrdsapps_evtstudy_lr',
 'wrdsapps_finratio',
 'wrdsapps_finratio_ccm',
 'wrdsapps_finratio_ibes',
 'wrdsapps_finratio_ibes_ccm',
 'wrdsapps_link_comp_eushort',
 'wrdsapps_link_crsp_bond',
 'wrdsapps_link_crsp_factset',
 'wrdsapps_link_crsp_ibes',
 'wrdsapps_link_crsp_optionm',
 'wrdsapps_link_crsp_taq',
 'wrdsapps_link_crsp_taqm',
 'wrdsapps_link_datastream_wscope',
 'wrdsapps_link_dealscan_wscope',
 'wrdsapps_link_supplychain',
 'wrdsapps_patents',
 'wrdsapps_plink_exec_ciq',
 'wrdsapps_plink_exec_trinsider',
 'wrdsapps_plink_trinsider_ciq',
 'wrdsapps_subsidiary',
 'wrdsapps_windices',
 'wrdsappssamp_all',
 'wrdssec',
 'wrdssec_all',
 'wrdssec_bow',
 'wrdssec_common',
 'wrdssec_insiders',
 'wrdssec_midas',
 'wrdssec_secsa',
 'zacksamp',
 'zacksamp_all']

In [5]:
tables = db.list_tables(library='audit_acct_os')
tables

['f56_acc_est_cha_fil',
 'f56_acc_est_tax',
 'f56_acc_est_to_tax',
 'f74_aqrm_company_flags',
 'f74_fee_sup_acc_est_cha',
 'f74_fee_sup_aud_cha',
 'f74_fee_sup_aud_fee_out',
 'f74_fee_sup_aud_rat',
 'f74_fee_sup_civ_rig_lit',
 'f74_fee_sup_dis_com',
 'f74_fee_sup_dis_con',
 'f74_fee_sup_emp_lab_lit',
 'f74_fee_sup_eng_par_cha',
 'f74_fee_sup_env_lit',
 'f74_fee_sup_fin_res',
 'f74_fee_sup_ill_act_lit',
 'f74_fee_sup_int_con',
 'f74_fee_sup_int_pro_lit',
 'f74_fee_sup_mat_imp',
 'f74_fee_sup_non_aud_fee',
 'f74_fee_sup_per_adj',
 'f74_fee_sup_ple_sec',
 'f74_fee_sup_reg_lit',
 'f74_fee_sup_sha_act',
 'f74_fee_sup_sha_act_lit',
 'f74_feed_support74_altman_score',
 'f74_feed_support74_audit_fees',
 'f74_feed_support74_beneish_score',
 'f74_feed_support74_benfords_law',
 'f74_feed_support74_ceo_change',
 'f74_feed_support74_cfo_change',
 'f74_feed_support74_cybersecurity',
 'f74_feed_support74_going_concern',
 'f74_feed_support74_late_filings',
 'f78_feed_support78_cam_topic',
 'f85_cyb_bre_to_inf',
 'f85_cybersec_breach_attack',
 'f85_cybersec_breach_information',
 'f85_cybersec_breach_to_attack',
 'f85_cybersec_filing',
 'f85_cybersec_target_',
 'f85_cybersec_target_relationship',
 'f89_inspection_date',
 'f89_issue_taxonomy_to_group',
 'f89_office_location',
 'f89_taxonomy',
 'f89_taxonomy_group',
 'f91_fee_ord_rei_det',
 'f91_feed91_all_related_release',
 'f91_feed91_order_bar_detail',
 'f91_feed91_related_party',
 'f91_feed91_release_to_issue',
 'f91_feed91_respondent',
 'f91_feed91_respondent_order',
 'f91_feed91_summary_text',
 'feed55_auditor_ratification',
 'feed56_accounting_estimates_chan',
 'feed65_impairments',
 'feed74_aqrm',
 'feed78_critical_audit_matters',
 'feed85_cybersecurity',
 'feed86_audit_firm_events',
 'feed89_pcaob_report',
 'feed91_aaer']

In [6]:
db.describe_table(library='audit_acct_os', table='f91_feed91_related_party')
#db.describe_table(library='audit_acct_os', table='f91_fee_ord_rei_det')
#db.describe_table(library='audit_acct_os', table='f91_feed91_all_related_release')
#db.describe_table(library='audit_acct_os', table='f91_feed91_order_bar_detail')
#db.describe_table(library='audit_acct_os', table='f91_feed91_release_to_issue')
##db.describe_table(library='audit_acct_os', table='f91_feed91_respondent')
#db.describe_table(library='audit_acct_os', table='f91_feed91_respondent_order')
##db.describe_table(library='audit_acct_os', table='f91_feed91_summary_text')

Approximately 4864 rows in audit_acct_os.f91_feed91_related_party.

                          name  nullable              type comment
0   aaer_release_to_party_fkey      True  DOUBLE PRECISION    None
1            aaer_release_fkey      True  DOUBLE PRECISION    None
2                     raw_name      True      VARCHAR(250)    None
3              party_type_fkey      True  DOUBLE PRECISION    None
4                         type      True      VARCHAR(250)    None
5                 auditor_fkey      True  DOUBLE PRECISION    None
6                 auditor_name      True      VARCHAR(100)    None
7       auditor_affiliate_fkey      True  DOUBLE PRECISION    None
8                 aud_aff_name      True      VARCHAR(100)    None
9                          cik      True       VARCHAR(10)    None
10                company_name      True      VARCHAR(150)    None
11               law_firm_fkey      True  DOUBLE PRECISION    None
12               law_firm_name      True      VARCHAR(255)    None

In [5]:
aaer = db.raw_sql("""
                    select count (*) 
                      from audit_acct_os.f91_feed91_related_party
                   --where aaer_release_fkey = '3'
                   --limit 10
                  """)
aaer

   count
0   4864

In [8]:
aaer = db.raw_sql("""
                    select * 
                      from audit_acct_os.f91_feed91_related_party
                      where type not in ('Auditor','Person')
                   --limit 10
                  """)
aaer
#aaer.to_csv('aaer_parties.csv')

,aaer_release_to_party_fkey,aaer_release_fkey,raw_name,party_type_fkey,type,auditor_fkey,auditor_name,auditor_affiliate_fkey,aud_aff_name,cik,company_name,law_firm_fkey,law_firm_name
0,245.0,2720.0,"Neurotrope, Inc.",3.0,Entity,None,None,None,None,1513856,"Neurotrope, Inc.",NaN,None
1,4.0,24.0,Maxim Integrated Products Inc,3.0,Entity,None,None,None,None,743316,MAXIM INTEGRATED PRODUCTS INC,NaN,None
2,6.0,18.0,Precipio Inc,3.0,Entity,None,None,None,None,1043961,"Precipio, Inc.",NaN,None
3,12.0,3.0,Finisar Corp,3.0,Entity,None,None,None,None,1094739,FINISAR CORP,NaN,None
4,13.0,3.0,Oclaro Inc,3.0,Entity,None,None,None,None,1110647,"OCLARO, INC.",NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3539,10463.0,3190.0,"Global Equipment Solutions, LLC",3.0,Entity,None,None,None,None,None,None,NaN,None
3540,10464.0,3190.0,"Forza Investments Management, LLC",3.0,Entity,None,None,None,None,None,None,NaN,None
3541,10465.0,3190.0,"Madison River Investments, LLC",3.0,Entity,None,None,None,None,None,None,NaN,None
3542,10466.0,3190.0,"Palmyra Energy Ventures Fund I, LP",3.0,Entity,None,None,None,None,1667590,"Palmyra Energy Ventures Fund I, L.P.",NaN,None
3543,10467.0,3190.0,"Speculative Seismic Investments, LLC",3.0,Entity,None,None,None,None,None,None,NaN,None

In [10]:
import csv

#save the file to path
outdir = 'C:/Users/Ryan Goh/Desktop/AAER'

aaer.to_csv(f"{outdir}/aaer.csv")

In [ ]:
X X X X X X X

#this segment focuses on getting the missing fields

#since there are too many, we are only gonna try getting a few

#ITEM18518

In [13]:
total_NSFR_ratios = db.raw_sql("""
                                select *
                                from tr_worldscope.wsndata
                                where item = 18608 and freq = 'A'
                                """
)

total_NSFR_ratios

          code     item freq  year_  seq  value_       date_
0       1344.0  18608.0    A   2017    1  107.00  2017-08-31
1       1344.0  18608.0    A   2018    1  112.00  2018-08-31
2       1344.0  18608.0    A   2019    1  112.00  2019-08-31
3       1344.0  18608.0    A   2020    1  119.00  2020-08-31
4       1344.0  18608.0    A   2021    1  122.00  2021-08-31
...        ...      ...  ...    ...  ...     ...         ...
1087  149252.0  18608.0    A   2018    1  152.74  2018-12-31
1088  149252.0  18608.0    A   2019    1  139.13  2019-12-31
1089  149252.0  18608.0    A   2020    1  134.06  2020-12-31
1090  149252.0  18608.0    A   2021    1  132.58  2021-12-31
1091  149252.0  18608.0    A   2022    1  135.47  2022-12-31

[1092 rows x 7 columns]

In [14]:
#save the file to path
outdir = 'C:/Users/Ryan Goh/Desktop/items'

total_NSFR_ratios.to_csv(f"{outdir}/NSFR_ratios.csv")

In [18]:
aaer = db.raw_sql("""
                    select *--count (*) 
                      from audit_acct_os.f91_feed91_related_party
                   --group by aaer_release_fkey
                   where aaer_release_fkey = '4'
                   --limit 10
                  """)
aaer

,aaer_release_to_party_fkey,aaer_release_fkey,raw_name,party_type_fkey,type,auditor_fkey,auditor_name,auditor_affiliate_fkey,aud_aff_name,cik,company_name,law_firm_fkey,law_firm_name
0,18.0,4.0,Haynie & Company PC,1.0,Auditor,2533.0,Haynie & Company PC,None,None,None,None,None,None
1,17.0,4.0,United Health Products Inc,3.0,Entity,NaN,None,None,None,1096938,"United Health Products, Inc.",None,None

In [27]:
aaer = db.raw_sql("""
                    select aaer_release_fkey, count (*) 
                      from audit_acct_os.f91_feed91_related_party
                
                   --where aaer_release_fkey = '4'
                     where type = 'Entity'
                  group by aaer_release_fkey
                  order by 2 desc
                   --limit 10
                  """)
aaer

      aaer_release_fkey  count
0                2404.0     15
1                2403.0     15
2                2405.0     15
3                2402.0     15
4                1864.0     12
...                 ...    ...
2348               78.0      1
2349              398.0      1
2350             1752.0      1
2351              266.0      1
2352              963.0      1

[2353 rows x 2 columns]

In [28]:
aaer = db.raw_sql("""
                    select *--count (*) 
                      from audit_acct_os.f91_feed91_related_party
                   --group by aaer_release_fkey
                   where aaer_release_fkey = '2404'
                   --limit 10
                  """)
aaer

,aaer_release_to_party_fkey,aaer_release_fkey,raw_name,party_type_fkey,type,auditor_fkey,auditor_name,auditor_affiliate_fkey,aud_aff_name,cik,company_name,law_firm_fkey,law_firm_name
0,1929.0,2404.0,BDO USA LLP,1.0,Auditor,11761.0,BDO USA LLP (Inactive),None,None,None,None,None,None
1,1914.0,2404.0,Gee Group Inc,3.0,Entity,NaN,None,None,None,40570,GEE Group Inc.,None,None
2,1915.0,2404.0,River Falls Financial Services LLC,3.0,Entity,NaN,None,None,None,None,None,None,None
3,1916.0,2404.0,River Falls Investments LLC,3.0,Entity,NaN,None,None,None,None,None,None,None
4,1917.0,2404.0,River Falls Holdings LLC,3.0,Entity,NaN,None,None,None,None,None,None,None
5,1918.0,2404.0,Accredited Investor Resources LLC,3.0,Entity,NaN,None,None,None,None,None,None,None
6,1919.0,2404.0,Oxygen Unlimited LLC,3.0,Entity,NaN,None,None,None,None,None,None,None
7,1920.0,2404.0,O2HR LLC,3.0,Entity,NaN,None,None,None,None,None,None,None
8,1921.0,2404.0,SDH Realty LLC,3.0,Entity,NaN,None,None,None,None,None,None,None
9,1922.0,2404.0,WTS Acquisition LLC,3.0,Entity,NaN,None,None,None,None,None,None,None
10,1923.0,2404.0,H2H Holdings LLC,3.0,Entity,NaN,None,None,None,None,None,None,None
11,1924.0,2404.0,PSQ LLC,3.0,Entity,NaN,None,None,None,None,None,None,None
12,1925.0,2404.0,Park Avenue Bank,3.0,Entity,NaN,None,None,None,None,None,None,None
13,1926.0,2404.0,Park Avenue Insurance,3.0,Entity,NaN,None,None,None,None,None,None,None
14,1927.0,2404.0,On-Site Services Inc,3.0,Entity,NaN,None,None,None,None,None,None,None
15,1928.0,2404.0,Ameritemps Inc,3.0,Entity,NaN,None,None,None,None,None,None,None
16,1930.0,2404.0,Wilbur Anthony Huff,4.0,Person,NaN,None,None,None,None,None,None,None
17,1931.0,2404.0,Charles J Antonucci SR,4.0,Person,NaN,None,None,None,None,None,None,None
18,1932.0,2404.0,Stephen B Pence,4.0,Person,NaN,None,None,None,None,None,None,None
19,1933.0,2404.0,Salvatore J Zizza,4.0,Person,NaN,None,None,None,None,None,None,None